*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg: #e3e5e4;
  --fg: #48494b;
  --fg-rgb: 72, 73, 75;
  --bg-rgb: 227, 229, 228;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  image-rendering: pixelated;
  font-family: "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
}
